

.navbar-container {

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Kanit", sans-serif;

  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 80px;
  
  position: absolute;
  top: 0;
  left: 0;

}


button {
  font-size: 1.5rem;
  border: none;
  padding: var(--spacing2) var(--spacing3);
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 400;

  font-family: var(--ff2);
  color: var(--clr-text);
  font-size: var(--fs2);
  transition: opacity 0.15s ;
  cursor: pointer;
  position: relative;
  margin-right: 20px;
}

button span {
  position: absolute;
  top: -20px;
  right: -15px;
  font-size: 2.5rem;
  display: none;
}

button:hover span {
  display: block;
  animation: rotate 0.5s infinite;
}


@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(60deg);
  }
}

button:hover {
  opacity: 0.9;

  
}

button:active {
  opacity: 0.5;
}

h1 {
  color: var(--clr-text);
  margin-left: var(--spacing4);
  font-size: var(--fs5);

  position: relative;
}


h1::after {
  content: " ";
  display: block;
  border: 1px solid red;
  /* width: 100%; */
  position: absolute;
  top: 0;

}

h1:hover::after {
    animation: slideIn 1s ;

    animation-fill-mode: forwards;
}


@keyframes slideIn {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }

}


.hamburger-menu {
  width: 50px;
}