

.navbar-container {

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Kanit", sans-serif;

  position: fixed;
  z-index: 100;
  width: 100vw;
  /* border: 1px so */
}


button {
  font-size: 1.5rem;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 500;

  transition: opacity 0.15s ;
  cursor: pointer;
  position: relative;
}

button span {
  position: absolute;
  top: -20px;
  right: -15px;
  font-size: 2.5rem;
  display: none;
}

button:hover span {
  display: block;
  animation: rotate 0.5s infinite;
}


@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(60deg);
  }
}

button:hover {
  opacity: 0.9;

  
}

button:active {
  opacity: 0.5;
}

h1 {
  font-weight: 500;
  color: var(--clr-black-400);
}


