

.navbar-container {
  /* border: 1px solid red; */

  display: flex;
  justify-content: space-between;
}

ul {
  width: 300px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

button {
  font-size: 1.5rem;
  border: none;
  padding: 10px 5px;
  border-radius: 10px;
  font-size: 1.3rem;


}

