@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*! Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*! Variables */

:root {


  --clr-primary: ;
  --clr-secondary: ;
  --clr-text: rgb(49, 46, 46);
  --clr-background: ;
  --clr-accent: ;

  /** font family */
  --ff: "Poppins", sans-serif;
  --ff2: "Sigmar", sans-serif;


  --p: 1rem/1.5rem var(--ff) ; /**font-size/line-height/font-family */
  --h1: 600 2.5rem/3rem var(--ff2) ; /**font-weight/font-size/line-height/font-family */
  --h2: 600 2rem/1.2rem var(--ff2) ;

  /** Spacing */
  --spacing1: 4px ;
  --spacing2: 8px ;
  --spacing3: 16px ;
  --spacing4: 24px ;
  --spacing5: 32px ;
  --spacing6: 48px ;
  --spacing7: 64px ;
  --spacing8: 96px ;
  --spacing9: 128px ;
  --spacing10: 192px ;

  /** Font size */
  --fs1: 1rem ;
  --fs2: 1.2rem ;
  --fs3: 1.4rem ;
  --fs4: 1.6rem ;
  --fs5: 1.8rem ;
  --fs6: 2rem ;
  --fs7: 2.4rem ;
  --fs8: 3.2rem ;
  --fs9: 4.8rem ;
  --fs10: 6.4rem ;


  --border1: 1px solid var(--clr-text;
}


/*! Global Styles */

html {
  scroll-behavior: smooth;
}

h1 {
  font: var(--h1);
  color: var(--clr-text);
}